# exclude files in archive and flows folder
/archive/*
/flows/*

# exclude folders for packaged installation
/src/casperjs/*
/src/phantomjs/*
/src/slimerjs/*
/src/unx/*

# exclude local log files from api service
/src/tagui_service.in
/src/tagui_service.out
/src/tagui_service.log
/src/tagui_service.act
/src/tagui_service.run
/src/tagui_service.done
